* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: #00a2c6;
}

footer {
  padding: 20px;
  color: white;
  background-color: #00a2c6;
  text-align: center;
  font-weight: bold; 
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: font-size 0.3s ease;
  color: white;
}

nav a:hover {
  font-weight: bold;
  font-size: 22px;
}

.profile header {
  text-align: center;
}

.featured-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
  -webkit-user-drag: none; /* Chrome, Safari */
  user-drag: none;         /* Standard */
  -webkit-user-select: none;
  -moz-user-select: none;  /* Firefox */
  -ms-user-select: none;
  user-select: none;
}

.profile img {
  width: 200px;
  -webkit-user-drag: none; /* Chrome, Safari */
  user-drag: none;         /* Standard */
  -webkit-user-select: none;
  -moz-user-select: none;  /* Firefox */
  -ms-user-select: none;
  user-select: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  color: white;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav {
   background-color: #00a2c6;
   padding: 5px;
   position: sticky;
   top: 0;
}

main {
  padding: 20px;
  overflow: auto;
}

#content {
  float: left;
  width: 75%;
}

aside {
  float: right;
  width: 25%;
  padding-left: 20px;
}

header {
  display: inline;
}

@media screen and (max-width: 1000px) {
  #content, aside {
    width: 100%;
    padding: 0;
  }
}